<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.sileht.lullaby"
      android:versionCode="1"
      android:sharedUserLabel="@string/user_label" android:versionName="1.1">
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name="Lullaby" android:debuggable="true">
    
            <meta-data 
            android:name="android.app.default_searchable"
            			android:value=".SongsActivity"/>
        <activity android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar" android:name="MainActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    <activity android:name="ArtistAlbumsActivity"></activity>
<activity android:name="AlbumActivity"></activity>
<activity android:name="PlayingPlaylistActivity"></activity>
<activity android:name="PlaylistsActivity"></activity>
<activity android:name="SettingActivity"></activity>
<activity android:name="SongsActivity"
                  android:label="Search">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.searchable"
                       android:resource="@xml/searchable"/>
        </activity>
</application>

<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
<uses-sdk android:targetSdkVersion="7" android:minSdkVersion="7"></uses-sdk>
</manifest> 
